name: Checks (Lint, Test, Build)

on:
  pull_request:
  push:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: nrwl/nx-set-shas@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: "npm"

      - run: npm ci

      - run: npm run nx -- format:check
      - run: npm run nx -- affected --target=lint --parallel=3
      - run: npm run nx -- affected --target=test --parallel=3 --ci --code-coverage
      - run: npm run nx -- affected --target=build --parallel=3
