name: Publish Packages to NPM
on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - run: npm ci

      - run: npm run nx -- run-many --target=lint --all
      - run: npm run nx -- run-many --target=test --all --ci

      - run: npm run nx -- run-many --target=publish --all --ver=${{github.ref_name}} --tag=latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
